@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-hardman: var(--font-hardman);
  --font-diatype: var(--font-abc-diatype);
  --font-suisse: var(--font-suisse-intl);
  --font-mono: var(--font-ibm-plex-mono);

  --tracking-2: -0.02em;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FDFDFD;
    --foreground:  #2C2C2C;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-abc-diatype), sans-serif;
}


